  <app-header></app-header>
  <div class='d-flex justify-content-center'>
    <div class="card" style="width:80%">
      <div *ngIf="isConnectionEstablished; then connected else noConnection"></div>
      <ng-template #noConnection>
        <div class="form-inline d-flex justify-content-center">
          <p class="card-text h5" style="padding:20px;">Connecting...</p>
        </div>
      </ng-template>

      <ng-template #connected>
        <div *ngIf="!hasJoined; then joinGame else playGame"></div>
        <ng-template #joinGame>
          <app-join-game [validationMessage]="validationMessage" (clickedJoin)="join($event)"></app-join-game>
        </ng-template>

        <ng-template #playGame>
          <div *ngIf="inLobby; then lobby else gameScreen"></div>
          <ng-template #lobby>
            <div class="form-inline d-flex justify-content-center">
              <img src="assets/images/couch.png" alt="couch" />
            </div>
            <div class="form-inline d-flex justify-content-center" style="padding:20px;">
              <p class="card-text h5" style="padding:20px;">In Lobby, please wait...</p>
            </div>
          </ng-template>

          <ng-template #gameScreen>
            <app-play-game [showCoolDown]="showCoolDown"
                           [playerName]="playerName"
                           [predicate]="predicate"
                           [hasAnswered]="hasAnswered"
                           [stepNumber]="stepNumber"
                           [countDown]="countDown"
                           [showCoolDownCountDown]="showCoolDownCountDown"
                           [showCooldown]="showCooldown"
                           [rankings]="rankings"
                           [isConcluded]="isConcluded"
                           [winnerName]="winnerName"
                           [newRoundCountDown]="newRoundCountDown"
                           (emitChosenAnswer)="processAnswer($event)">
            </app-play-game>
          </ng-template>
        </ng-template>
      </ng-template>
    </div>
  </div>
  <app-footer></app-footer>

