<div class="card-body text-center">  
  <ng-template [ngIf]="validationMessage">
      <div class="alert alert-danger" role="alert">
        {{validationMessage}}
      </div>
  </ng-template>
  <div class="card-text">
    <h5 class="card-title">Welcome</h5>
    <div class="d-flex justify-content-center">
      <form (ngSubmit)="joinGame(playerName)" class="form-inline">
        <div class="form-group mb2 text-center">
          <div class="form-group mx-sm-3 mb-2">
            <input type="text" [(ngModel)]="playerName" class="form-control" id="playerName" name="playerName" aria-describedby="playerNameHelp" placeholder="Choose your name">
          </div>
          <input class="btn btn-primary mb-2" type="submit" value="Join">
        </div>
      </form>
    </div>
    <small id="playerNameHelp" class="form-text text-muted">
      * Player name must be at least 3 characters long and start with a letter and followed by name or numbers. No special characters allowed.
    </small>
  </div>
</div>
