<div *ngIf="isConcluded; then concluded else notConcluded"></div>
<ng-template #concluded>
  <div class="form-inline d-flex justify-content-center" style="padding-top:20px;">
    <img src="assets/images/trophy.png" alt="couch" />
  </div>
  <div class="form-inline d-flex justify-content-center">
    <p class="card-text h5" style="padding:20px;">Congratulations <strong>{{winnerName}}</strong> you're the winner!</p>
  </div>
  <div class="form-inline d-flex justify-content-center">
    <p class="card-text h5" style="padding:20px;">Next round will start in {{newRoundCountDown}} seconds </p>
  </div>
  <ranking-results [rankings]="rankings"></ranking-results>
</ng-template>
<ng-template #notConcluded>
  <div *ngIf="showCooldown; then CoolDown else GamePlay"></div>
  <ng-template #CoolDown>
    <div class="form-inline d-flex justify-content-center" style="padding-top:20px;">
      <img src="assets/images/stopwatch.png" alt="couch" />
    </div>
    <div class="form-inline d-flex justify-content-center">
      <p class="card-text h5" style="padding:20px;">Get ready for the next round! it will start in {{showCoolDownCountDown}} seconds...</p>
    </div>
    <ranking-results [rankings]="rankings"></ranking-results>
  </ng-template>
  <ng-template #GamePlay>
    <div class="card-header text-center">Round progress: <mark>{{stepNumber}}</mark></div>
    <div class="card-body text-center">
      <h5 class="card-title">Quickly, {{playerName}}! is this expression true?</h5>
      <div class="d-flex justify-content-center">
        <h1 class="display-3">{{predicate}}</h1>
      </div>
      <div class="form-inline d-flex justify-content-center">
        <div class="form-group ">
          <button type="button" class="btn btn-primary" (click)="chooseAnswer(true)" [disabled]="hasAnswered">True</button>
          &nbsp; &nbsp;
          <button type="button" class="btn btn-danger" (click)="chooseAnswer(false)" [disabled]="hasAnswered">False</button>
        </div>
      </div>
      <div class="form-inline d-flex justify-content-center">
        <div class="card-body text-right">
          <div class="card-subtitle">Time to answer: {{countDown}}</div>
        </div>
      </div>
      <div class="form-inline d-flex justify-content-center">
        <ng-template [ngIf]="hasAnswered">
          <div class="form-group d-flex justify-content-center">
            <small id="playerNameHelp" class="form-text text-muted">
              Your answer has been sent
            </small>
          </div>
        </ng-template>
      </div>
    </div>
  </ng-template>
</ng-template>
